{% extends 'base.html.twig' %}


{% block header %}

{% endblock %}

{% block sidebar %}

{% endblock %}

{% block body %}
    {% block navBarInside %}{% endblock %}

    <div id="contact" class="contact-us section">
        <div class="container">
            <div class="row">
                <div class="ahbet">
                <div class="col-lg-12 wow fadeInUp"  data-wow-duration="0.5s" data-wow-delay="0.25s">
                     <form id="contact" action="" method="post">
                         <div class="row">

                             <div class="col-lg-6"  style="padding-left: 5% ;border-color:white;">
                                 <div class="ahbet">

                                 <h1>Join Our Community</h1>
                                     <div class="space-5"> </div>
                                 <img src="{{ asset('FrontOffice/assets/images/4-dogs.png') }}">
                                 </div>
                             </div>
                             <div class="col-lg-6">

                                 <div class="fill-form">
                                     {{ form_start(form,{attr:{novalidate:'novalidate'}}) }}
                                     <div class="col-lg-12">
                                         <fieldset>
                                             {{ form_widget(form,{'attr':{'class':'form-control'}}) }}
                                         </fieldset>
                                         <fieldset>
                                             {{ form_widget(form.email,{'attr':{'class':'form-control'}}) }}
                                         </fieldset>
                                         <fieldset>
                                             {{ form_widget(form.password,{'attr':{'class':'form-control'}}) }}
                                         </fieldset>
                                     </div>
                                     <div class="col-lg-12">
                                         <fieldset>
                                             <button type="submit" id="form-submit" class="main-button ">Create Account</button>
                                         </fieldset>
                                     </div>
                                     {{ form_end(form) }}
                                 </div>

                             </div>

                        </div>
                    </form>
                </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
{% block footer %}


{% endblock %}