{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <div class="ahbet">
        <div class="container">

        <h1>My Reservations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idreservation</th>
                <th>Idbusinessservices</th>
                <th>Date Reservation</th>
                <th>Heure Reservation</th>
                <th>Service</th>
                <th>Business</th>

                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.idreservation }}</td>
                <td>{{ reservation.idbusinessservices }}</td>
                <td>{{ reservation.datereservation ? reservation.datereservation|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.heurereservation }}</td>
                <td>{{ reservation.idbusinessservices.nomservice }}</td>
                <td>{{ reservation.idbusinessservices.idbusiness.titre }}</td>

                <td>
                    <a href="{{ path('app_reservation_show', {'idreservation': reservation.idreservation}) }}">show</a>
                    <a href="{{ path('app_reservation_edit', {'idreservation': reservation.idreservation}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <a href="{{ path('app_reservation_new') }}">Create new</a>
        </div>

    </div>

{% endblock %}
