{% extends 'base.html.twig' %}

{% block title %}New Reservation{% endblock %}

{% block body %}

    <div class="ahbet">
    <div class="container">
        <div class="flex-box">
            <div class="left-sm">
                <div class="small-img">
                    <img src="{{ asset('FrontOffice/assets/images/business/'~reservation.idbusinessservices.idbusiness.image) }}" alt="">
                </div>
            </div>
            <div class="right">
                <div class="title-ville">
                    <h3 class="business-title">{{ reservation.idbusinessservices.idbusiness.titre }}</h3>
                    <div class="tag-ville">
                        <div class="tag-location">
                            <img src="{{ asset('FrontOffice/assets/images/vector.png') }}" alt="">
                        </div>

                        {{ reservation.idbusinessservices.idbusiness.ville }}
                    </div>

                </div>

                <div class="element">
                    <label class="key-bigger">Opening Hours: </label>
                    <span class="value-bigger">{{ reservation.idbusinessservices.idbusiness.horaire }}</span>
                </div>
                <div class="element">
                    <label class="key-bigger">Years of Experience: </label>
                    <span class="value-bigger">{{ reservation.idbusinessservices.idbusiness.experience }}</span>
                </div>
                <div class="element">
                    <label class="key-bigger">Years of Experience: </label>
                    <span class="value-bigger">{{ reservation.idbusinessservices.nomservice }}</span>

                </div>
                <div class="element">
                <label class="key-bigger">Years of Experience: </label>

                <span class="value-bigger">{{ reservation.idbusinessservices.prix }}</span>
                </div>
            </div>
        </div>



        <h1>Create new Reservation</h1>

        {{ include('reservation/_form.html.twig') }}
    </div>

    </div>

   

{% endblock %}
