{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <h1>Reservation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idreservation</th>
                <td>{{ reservation.idreservation }}</td>
            </tr>
            <tr>
                <th>Idbusinessservices</th>
                <td>{{ reservation.idbusinessservices }}</td>
            </tr>
            <tr>
                <th>Dateheuredebut</th>
                <td>{{ reservation.dateheuredebut ? reservation.dateheuredebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Dateheurefin</th>
                <td>{{ reservation.dateheurefin ? reservation.dateheurefin|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reservation_index') }}">back to list</a>

    <a href="{{ path('app_reservation_edit', {'idreservation': reservation.idreservation}) }}">edit</a>

    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
