{% extends 'base.html.twig' %}

{% block title %}Adoption index{% endblock %}

 {% block adoption %}
     <li class="scroll-to-section"><a href="#" class="active">Adoption</a>
         <div class="sub-menu-1">
             <ul>
                 <li> <a href="{{ path('app_annonce_adoption_my_index') }}">My Posts</a></li>

                 <li> <a href="{{ path('app_annonce_adoption_index') }}">All Posts</a></li>

                 <li></li>
             </ul>
         </div>
     </li>
 {% endblock %}
{% block body %}
    <h1>Adoption index</h1>

    <table class="table">
        <thead>
            <tr>
               <th>Foster Name</th>
               <th>Name</th>
               <th>Sexe</th>
               <th>Age</th>
               <th>Description</th>
               <th>Image</th>
               <th>Color</th>
               <th>Race</th>
               <th>groupe</th>
               <th>Vaccination</th>
               <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonceAdoption in annonceAdoptions %}
                            <tr>
                                <td>{{ annonceAdoption.idindividu.nom ~' '~ annonceAdoption.idindividu.prenom }}</td>
                                <td>{{ annonceAdoption.idchien.nom }}</td>
                                <td>{{ annonceAdoption.idchien.sexe }}</td>
                                <td>{{ annonceAdoption.idchien.age }}</td>
                                <td >{{ annonceAdoption.description }}</td>
                                <td ><img src="{{ asset('FrontOffice/assets/images/adoption/'~annonceAdoption.idchien.image~'.png') }}" alt=""></td>
                                <td >{{ annonceAdoption.idchien.color}}</td>
                                <td >{{annonceAdoption.idchien.race}}</td>
                                <td >{{ annonceAdoption.idchien.groupe}}</td>
                                <td >{{ annonceAdoption.idchien.vaccination ? 'Yes' : 'No' }}</td>
                                <td>
                                    {{ include('annonce_adoption/_delete_form.html.twig') }}
                                    <a href="{{ path('app_annonce_adoption_edit', {'idannonceadoption': annonceAdoption.idannonceadoption}) }}">edit</a>
                                </td>

                                
                            </tr>
                            {% else %}
                                <tr>
                                    <td colspan="13">no records found</td>
                                </tr>
                            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_annonce_adoption_new') }}">Create Adoption post</a>
{% endblock %}
