{% extends 'base.html.twig' %}

{% block title %}Adoption index{% endblock %}
 {% block adoption %}
     <li class="scroll-to-section"><a href="#" class="active">Adoption</a>
         <div class="sub-menu-1">
             <ul>
                 <li> <a href="{{ path('app_annonce_adoption_my_index') }}">My Posts</a></li>

                 <li> <a href="{{ path('app_annonce_adoption_index') }}">All Posts</a></li>

                 <li></li>
             </ul>
         </div>
     </li>
 {% endblock %}
{% block body %}


<div class="ahbet">
    <div class="container">

        <div class="flex-box">
            <div class="left">
                <div class="big-img">

                    <a href="#"><img src="{{asset('FrontOffice/uploads/'~annonceAdoption.idchien.image) }}" alt=""></a>
                </div>
            </div>
            <div class="right">
                <div class="title-ville">
                    <div>
                    <h3 class="business-title">{{ annonceAdoption.idchien.nom }}</h3>
                        <div class="space-2"></div>

                        <div class="tag-box">
                        <div class="tag-sexe">
                            {% if annonceAdoption.idchien.sexe=='M' %}
                                <img src="{{ asset('FrontOffice/assets/images/chien/male.png') }}" alt="">
                            {% else %}
                                <img src="{{ asset('FrontOffice/assets/images/chien/female.png') }}" alt="">
                            {% endif %}
                        </div>

                        </div>
                    </div>
                    <a href="{{ path('app_annonce_adoption_pdf', {'idannonceadoption': annonceAdoption.idannonceadoption}) }} "
                    {% if annonceAdoption.idindividu.idindividu == id %} style="visibility:hidden;" {% endif %}>
                     <img class="ahbet"  src="{{asset('FrontOffice/assets/images/file_download_pdf_icon_153420.png') }}"></a>
                    <a  href="{{path("contact",{'id': annonceAdoption.idindividu.idindividu })}}"
                    {% if annonceAdoption.idindividu.idindividu == id %} style="visibility:hidden;" {% endif %}>
                    <img class="ahbet" title="contacter l'annonceur"  src="{{asset('FrontOffice/assets/images/1499345621-contact_85338.png') }}">
                    </a>


                </div>


                <div class="element">
                    <div class="space-5"></div>
                    <label class="key">Description</label>
                    <br/>
                    <span class="value">{{annonceAdoption.idchien.description }}</span>

                </div>
                <div class="element">
                    <div class="space-2"></div>
                    <label class="key-bigger">Age: </label>
                    <span class="value-bigger">{{annonceAdoption.idchien.age }}</span>
                </div>
                <div class="element">
                    <div class="space-2"></div>
                    <label class="key-bigger">Address: </label>
                    <span class="value-bigger"> {{ annonceAdoption.idindividu.adresse }}</span>
                </div>
                <div class="space-5"></div>


                <div class="element">
                    <div class="space-2"></div>
                    <label class="key-bigger"> </label>
                    <span class="value-bigger"></span>
                </div>
            </div>
        </div>


    <a href="{{ path('app_annonce_adoption_index') }}">back to list</a>
    </div>
</div>
{% endblock %}

