{% extends 'base.html.twig' %}


{% set queryParams = app.request.query.all %}

{% block title %}Adoption index{% endblock %}



{% block body %}

    <div style="padding-top:150px;" class="container">
        <div class="row"> {{ render (controller ('App\\Controller\\SearchAdoptionController::searchBar' )) }}   </div>
        <div style="padding-top:25px;"> <a href="{{ path('app_annonce_adoption_new') }}">Create Adoption post</a> </div>
        <div class="row">
            <form id="filters">
                {% for inv in individus %}
                {# On vérifie si la catégorie est dans les paramètres #}
                    {% if queryParams is not empty and queryParams.individus is defined %}
                        {% set checked = (inv.idindividu in queryParams.individus) ? "checked" : "" %}
                    {% else %}
                        {% set checked = "" %}
                    {% endif %}

                    <p class="column"><input type="checkbox" name="individus[]" id="inv{{inv.idindividu}}" value="{{inv.idindividu}}"> 
                    <label for="inv{{inv.idindividu}}">{{inv.nom}}</label></p>
                {% endfor %}
            </form>
        </div>

    
    <div id="blog" class="blog">
        <div class="container">
            <p>Filtrer</p>
            <div class="row" id="content">

                {{ include('annonce_adoption/_contenu.html.twig') }}

            </div>
                    </div>
                    </div>
                </div>
{% endblock %}

{% block javascripts %}
          <script src="{{ asset('assets/js/filters.js') }}"></script>
          <script src="{{ asset('FrontOffice/vendor/jquery/jquery.min.js') }}"></script>
          <script src="{{ asset('FrontOffice/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
          <script src="{{ asset('FrontOffice/assets/js/owl-carousel.js') }}"></script>
          <script src="{{ asset('FrontOffice/assets/js/animation.js') }}"></script>
          <script src="{{ asset('FrontOffice/assets/js/imagesloaded.js') }}"></script>
          <script src="{{ asset('FrontOffice/assets/js/custom.js') }}"></script>
{% endblock %}