{% extends 'base.html.twig' %}

{% block title %}New Business{% endblock %}



{% block body %}

    <div id="blog" class="blog">
        <div class="container">
            <div class="row">
                {% for business in businesses %}

                <div class="col-lg-3 show-up wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                    <div class="blog-post">
                        <div class="thumb">
                            <a href="#"><img src="{{ asset('FrontOffice/assets/images/business/'~business.image~'.png') }}" alt=""></a>
                        </div>
                        <div class="down-content">
                            <span class="category">{{ business.ville }}</span>
                            <span class="date">03 August 2021</span>
                            <a href="#"><h4>{{ business.titre }}</h4></a>
                            <p>{{ business.horaire }}
                                {{ business.ville }}</p>
                            <div class="border-first-button"><a href="#">Book Now</a></div>
                        </div>
                    </div>
                </div>




                {% endfor %}

            </div>
                    </div>
                </div>


<a href="{{ path('app_business_new_back_office') }}">Create new</a>
{% endblock %}
