
{% extends 'base.html.twig' %}



{% block title %}Produit index{% endblock %}

   {% block navBar %}
        <!-- ***** Header Area Start ***** -->
        <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <!-- ***** Logo Start ***** -->
                            <a href="{{ path('app_front_office_home') }}" class="logo">
                                <img src="{{ asset('FrontOffice/assets/images/logo-v2.png') }}" alt="">
                            </a>
                            <!-- ***** Logo End ***** -->
                            <!-- ***** Menu Start ***** -->
                            <ul class="nav">
                                <li class="scroll-to-section"><a href="#top" >Home</a></li>
                                <li class="scroll-to-section"><a href="{{ path('app_business_index') }}">Services</a></li>
                                <li class="scroll-to-section"><a href="#services">Adoption</a></li>
                                <li class="scroll-to-section"><a href="#portfolio">Hub</a></li>
                                <li class="scroll-to-section"><a href="#blog" class="active">Store</a></li>
                                <li class="scroll-to-section"><a>Sign in</a></li>
                                <li class="scroll-to-section"><div class="border-first-button"><a href="#contact">Sign up</a></div></li>
                            </ul>
                            <a class='menu-trigger'>
                                <span>Menu</span>
                            </a>
                            <!-- ***** Menu End ***** -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- ***** Header Area End ***** -->

    {% endblock %}

{% block body %} 
    
    <h1 >Products List</h1>
<div>ff</div>
    <div></div>
    <div></div><div></div>.
    <div></div><div></div>
    <div></div>






    <div class="wrapper" style="padding-top:100px"; >
    
  
        {{ render (controller (
            'App\\Controller\\SearchController::searchBar'
        )) }}

    </div>
 
       <div id="blog" class="blog">

        <div class="container">
            <div class="row">
        {% for produit in produits %}
          <div class="col-lg-3 show-up wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">

                    <div class="blog-post">
                        <div class="thumb">
                        
                           <a href="#"><img src="{{ asset('FrontOffice/assets/images/store/'~produit.image~'.jpg') }}" alt=""></a>
                        </div>
                          <div class="down-content">
                            
                              <span class="nom">{{produit.nom}}</span>
                                <span class="prix" style="text-align: right">{{produit.prix}} DT</span>
                                <p>{{ produit.description }}</p>
                                <span class="category">{{produit.idCategorie.nom}}</span>
                                <span class="marque">{{produit.marque }}</span>
                                 <a href="{{path('add_prod', {'id':produit.idproduit} )}}" class="butt">Add To Cart</a>
                                
                            </div>
                    </div>
                </div>
<style>
 
/* CSS */
.wrapper {
    position: center;
    display: flex;
    min-width: 100px;
  }

/* CSS */
.butt {
  
  
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.butt:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.butt:active {
  transform: scale(0.95);
}
</style>

        {% endfor %}
      

    </div>
            </div>
        </div>


{% endblock %}
