{% extends 'base.html.twig' %}


{% block title %}Produit{% endblock %}
{% block store %}
    <li class="scroll-to-section"><a href="{{ path('app_front_office_home') }}" class="active">Store</a></li>
{% endblock %}
{% block body %}
    <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idproduit</th>
                <td>{{ produit.idproduit }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ produit.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produit.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ produit.prix }}</td>
            </tr>
            <tr>
                <th>Brand</th>
                <td>{{ produit.marque }}</td>
            </tr>
            <tr>
                <th>Evaluation</th>
                <td>{{ produit.nbetoiles }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_produit_index') }}">back to list</a>

    <a href="{{ path('app_produit_edit', {'idproduit': produit.idproduit}) }}">edit</a>

    {{ include('produit/_delete_form.html.twig') }}
{% endblock %}
