{% extends 'baseBack.html.twig' %}


{% block title %}Utilisateur index{% endblock %}

{% block body %}
    <h1>Utilisateur index</h1>


<div>
    <div class="sidebar-search">
        <div class="input-group custom-search-form" style="padding-top:7%">
            <input type="text" id="search" class="form-control" placeholder="Looking for a  specific person ?">
        </div>
        <!-- /input-group -->

    </div></div>


    <ul class="nav" id="side-menu">
        <li>
            <a href="#"> Search Results<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level" >
            </ul>
        </li>
    </ul><br><br><br><br>

    <table class="table">
        <thead>
            <tr>
                <th>Idutilisateur</th>
                <th>Email</th>
                <th>Password</th>
                <th>Numtel</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.idutilisateur }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.password }}</td>
                <td>{{ utilisateur.numtel }}</td>
                <td>{{ utilisateur.type }}</td>
                <td>
                    <a href="{{ path('app_utilisateur_show', {'idutilisateur': utilisateur.idutilisateur}) }}">show</a>
                    <a href="{{ path('app_utilisateur_edit', {'idutilisateur': utilisateur.idutilisateur}) }}">edit</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_utilisateur_new') }}">Create new</a>
{% endblock %}

{% block javascripts %} <script src="{{ asset('assets/js/filters.js') }}" type="text/javascript"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script type="text/javascript">
        jQuery(document).ready(function() {
            var searchRequest = null ;
            $("#search").keyup(function() {
                var minlength = 0;
                var that = this;
                var value = $(this).val();
                var entitySelector = $("#content").html('');
                if (value.length >= minlength ) {
                    if (searchRequest != null)
                        searchRequest.abort();
                    searchRequest = $.ajax({
                        type: "GET",
                        url: "{{ path('utilisateurs_search') }}",
                        data: {
                            'l' : value
                        },
                        dataType: "text",
                        success: function(msg){
                            {% set utilisateur=null  %}
                            //we need to check if the value is the same
                            if (value===$(that).val()) {
                                var result = JSON.parse(msg);
                                $.each(result, function(key, arr) {
                                    $.each(arr, function(id, value) {
                                        if (key =='utilisateur') {

                                            if (id != 'error') {
                                                entitySelector.append('  <div class="col-lg-3 show-up wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" > '+
                                                    '<div class="blog-post">'+

                                                    ' <a href="#"></a>'+
                                                    '</div>'+


                                                    ' <span class="email">'+value[0]+'</span>'+
                                                    ' <span class="password">'+value[1]+'</span>'+
                                                    ' <span class="numtel">'+value[2]+'</span>'+
                                                    ' <span class="type">'+value[3]+'</span>'+




                                                    ' </div> ');



                                            } else {
                                                entitySelector.append('<li class="errorLi">'+value+'</li>');
                                            }
                                        }
                                    });
                                });
                            }
                        }
                    });
                }
            });
        });
    </script>

{% endblock %}
