{% extends 'base.html.twig' %}

{% block title %}Mating Dogs{% endblock %}
{% block hub %}
    <li class="scroll-to-section"><a href="#" class="active">Hub</a>
        <div class="sub-menu-1">
            <ul>


                <li> <a href="{{ path('app_chien_index_my_dogs') }}">My Dogs</a></li>

                <li> <a href="{{ path('app_chien_index_dogs-next-door') }}">Dogs Next Door</a></li>

                <li> <a href="{{ path('app_annonce_proprietaire_chien_index_lost') }}">Lost Dogs</a></li>
                <li> <a href="{{ path('app_annonce_proprietaire_chien_index_mating') }}">Mating</a></li>
                <li></li>
            </ul>
        </div>
    </li>
{% endblock %}


{% block body %}
<div class="ahbet">
    <div class="container">



            <div class="sidebar-search">
                <div class="input-group custom-search-form" style="padding-top:7%">

                    <input type="text" id="search" class="form-control" placeholder="Search for a mate">

                </div>
                <!-- /input-group -->
            </div>
            <div class="col-xs1">
                <p>Filter By</p>
                <form id="filters">
                    <div class="flexini">
                        <div class="item-checkbox">
                            <p><input type="checkbox" name="categories[]" value="F"><label>Female</label></p>
                        </div>
                        <div class="item-checkbox">
                            <p><input type="checkbox" name="categories[]" value="M"><label>Male</label></p>
                        </div>

                    </div>
                </form>
            </div>

                <div class="col-xs1 col-sm4" id="content">
                {% include ('annonce_proprietaire_chien/_matingcontent.html.twig') %}
                </div>
            </div>


    <script src="{{ asset('FrontOffice/assets/js/searchFilters.js') }}"></script>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


{% endblock %}
