{% extends 'base.html.twig' %}

{% block title %}Lost Dog{% endblock %}
{% block body %}

    <div id="blog" class="blog">

<div class="container" >
    <div class="row ahbet">


        <div class="col-lg-3 show-up wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
            <div class="blog-post">
                <div class="thumb">

                    <a><img src="{{asset('FrontOffice/uploads/'~annonce_proprietaire_chien.idchien.image) }}" alt=""></a>
                </div>
                <div class="down-content">
                    <span class="category">{{ annonce_proprietaire_chien.idchien.sexe }}</span>



                    <a href="#"><h4>{{ annonce_proprietaire_chien.idchien.nom }}</h4></a>
                    <p>
                        {{ annonce_proprietaire_chien.idchien.age }}</p>

                </div>
            </div>
        </div>





        <a href="{{ path('app_annonce_proprietaire_chien_index_lost') }}">back to list</a>




    <div  style="z-index: 1">

        <label for="">Address: <input id="map-search" class="controls" type="text" placeholder="Search Box" size="104"></label><br>
        <div id="notifyowner"></div>
        {{ form_start(form) }}
        {{ form_widget(form.Notify,{'attr':{'class':'btn btn-primary','text':'Notify Owner'}}) }}

        <div style="display:none">
            {{ form_end(form) }}

            <label for="">Lat: <div id="idchien">{annonce_proprietaire_chien.idchien.idchien}</div></label>

            <label for="">Lat: <input type="text" class="latitude"></label>
        <label for="">Long: <input type="text" class="longitude"></label>
        <label for="">City <input type="text" class="reg-input-city" placeholder="City"></label>
        </div>
        <div id="map-canvas"></div>
    </div>
    <script src="{{ asset('FrontOffice/assets/js/mapLostDogs.js') }}"></script>
    </div>
</div>
    </div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAG1HwsLk_Q_l3KL6Ki1z83gXvppk_xVpY&libraries=places&callback=initialize"></script>
    <script>
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
    </script>
{% endblock %}