{% extends 'base.html.twig' %}

{% block title %}AnnonceProprietaireChien{% endblock %}

{% block body %}
    <h1>AnnonceProprietaireChien</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idannonceproprietairechien</th>
                <td>{{ annonce_proprietaire_chien.idannonceproprietairechien }}</td>
            </tr>
            <tr>
                <th>Datepublication</th>
                <td>{{ annonce_proprietaire_chien.datepublication ? annonce_proprietaire_chien.datepublication|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ annonce_proprietaire_chien.description }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ annonce_proprietaire_chien.type }}</td>
            </tr>
            <tr>
                <th>Dateperte</th>
                <td>{{ annonce_proprietaire_chien.dateperte ? annonce_proprietaire_chien.dateperte|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ annonce_proprietaire_chien.localisation }}</td>
            </tr>
            <tr>
                <th>Messagevocal</th>
                <td>{{ annonce_proprietaire_chien.messagevocal }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_annonce_proprietaire_chien_index') }}">back to list</a>

    <a href="{{ path('app_annonce_proprietaire_chien_edit', {'idannonceproprietairechien': annonce_proprietaire_chien.idannonceproprietairechien}) }}">edit</a>

    {{ include('annonce_proprietaire_chien/_delete_form.html.twig') }}
{% endblock %}
