{% extends 'base.html.twig' %}

{% block title %}Chien index{% endblock %}

{% block body %}
    <h1>Chien index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idchien</th>
                <th>Nom</th>
                <th>Sexe</th>
                <th>Age</th>
                <th>Vaccination</th>
                <th>Description</th>
                <th>Image</th>
                <th>Color</th>
                <th>Race</th>
                <th>Groupe</th>
                <th>Likenumber</th>
                <th>Playwithme</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chien in chiens %}
            <tr>
                <td>{{ chien.idchien }}</td>
                <td>{{ chien.nom }}</td>
                <td>{{ chien.sexe }}</td>
                <td>{{ chien.age }}</td>
                <td>{{ chien.vaccination ? 'Yes' : 'No' }}</td>
                <td>{{ chien.description }}</td>
                <td>{{ chien.image }}</td>
                <td>{{ chien.color }}</td>
                <td>{{ chien.race }}</td>
                <td>{{ chien.groupe }}</td>
                <td>{{ chien.likenumber }}</td>
                <td>{{ chien.playwithme ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_chien_show', {'idchien': chien.idchien}) }}">show</a>
                    <a href="{{ path('app_chien_edit', {'idchien': chien.idchien}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_chien_new') }}">Create new</a>
{% endblock %}
