{% extends 'base.html.twig' %}

{% block title %}My Dogs{% endblock %}
{% block hub %}
    <li class="scroll-to-section"><a href="#" class="active">Hub</a>
        <div class="sub-menu-1">
            <ul>


                <li> <a href="{{ path('app_chien_index_my_dogs') }}">My Dogs</a></li>

                <li> <a href="{{ path('app_chien_index_dogs-next-door') }}">Dogs Next Door</a></li>

                <li> <a href="{{ path('app_annonce_proprietaire_chien_index_lost') }}">Lost Dogs</a></li>
                <li> <a href="{{ path('app_annonce_proprietaire_chien_index_mating') }}">Mating</a></li>
                <li></li>
            </ul>
        </div>
    </li>
{% endblock %}
{% block body %}
    <div class="ahbet">
    <a  href="{{ path('app_chien_new_front') }}"><img style="max-width: 300px;max-height: 100px;"src="{{asset('FrontOffice/assets/images/chien/AddDogButton.png') }}"></a>
    </div>
    <div id="blog" class="blog">
        <div class="container">


            <div class="row">

                {% for chien in chiens %}
                    <div class="col-lg-3 show-up wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">

                        <div class="blog-post">
                            <div class="thumb">
                                <a><img src="{{asset('FrontOffice/uploads/'~chien.image) }}" class="card-img-top" alt=""></a>
                            </div>
                            <div class="down-content">
                                <span class="dog-name"><h4>{{ chien.nom }}</h4></span>
                                <span class="gender">
                                    {% if chien.sexe=='M' %}
                                        <img class="gender-icon" src="{{ asset('FrontOffice/assets/images/chien/male.png') }}" alt="">
                                    {% else %}
                                        <img class="gender-icon" src="{{ asset('FrontOffice/assets/images/chien/female.png') }}" alt="">
                                    {% endif %}
                                    </span>





                                <span class="likes">
                                    <p> {{ render(path('app_nblikes', {'idchien': chien.idchien})) }} <img style="max-width: 30px;max-height: 30px;" src="{{asset('FrontOffice/assets/images/chien/heartIcon.png') }}"></p>
                                </span>

                                <span class="miss-mate-buttons">

                                {% if chien.missing %}
                                    <a href="{{ path('app_annonce_proprietaire_chien_removelost', {'idchien': chien.idchien}) }}"> <img class="declare-buttons" src="{{asset('FrontOffice/assets/images/chien/missingFilled.png') }}"> </a>
                                {% else %}
                                    <a href="{{ path('app_annonce_proprietaire_chien_addlost', {'idchien': chien.idchien}) }}"> <img class="declare-buttons" src="{{asset('FrontOffice/assets/images/chien/missingEmpty.png') }}"> </a>
                                {% endif %}

                                {% if chien.mating %}
                                    <a href="{{ path('app_annonce_proprietaire_chien_removemating', {'idchien': chien.idchien}) }}"> <img class="declare-buttons"   src="{{asset('FrontOffice/assets/images/chien/matingFilled.png') }}"> </a>
                                {% else %}
                                    <a href="{{ path('app_annonce_proprietaire_chien_addmating', {'idchien': chien.idchien}) }}"> <img class="declare-buttons"   src="{{asset('FrontOffice/assets/images/chien/matingEmpty.png') }}"> </a>
                                {% endif %}
                                </span>


                                <a href="{{ path('app_chien_delete_front', {'idchien': chien.idchien}) }}"> <img class="ahbet delete-dog"  src="{{asset('FrontOffice/assets/images/chien/deleteDog.png') }}"> </a>



                            </div>
                        </div>
                    </div>




                {% endfor %}

            </div>
        </div>
    </div>



{% endblock %}
