{% extends 'base.html.twig' %}

{% block title %}New Chien{% endblock %}
{% block hub %}
    <li class="scroll-to-section"><a href="#" class="active">Hub</a>
        <div class="sub-menu-1">
            <ul>


                <li> <a href="{{ path('app_chien_index_my_dogs') }}">My Dogs</a></li>

                <li> <a href="{{ path('app_chien_index_dogs-next-door') }}">Dogs Next Door</a></li>

                <li> <a href="{{ path('app_annonce_proprietaire_chien_index_lost') }}">Lost Dogs</a></li>
                <li> <a href="{{ path('app_annonce_proprietaire_chien_index_mating') }}">Mating</a></li>
                <li></li>
            </ul>
        </div>
    </li>
{% endblock %}
{% block dogs %}
    <li class="active">
        <a href="{{ path('app_chien_index_back_office') }}">
            <i class="fa fa-paw" aria-hidden="true"></i>
            <p>Dogs</p>
        </a>
    </li>
{% endblock %}
{% block body %}

    <div class="content">
        <div class="row">
            <div class="col-md-4">
                <div class="col-md-8">

                    {{ include('chien/_formfront.html.twig') }}

                </div>
            </div>
        </div>
    </div>
    <a href="{{ path('app_chien_index_my_dogs') }}">back to my dogs</a>

{% endblock %}
