<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Front{% endblock %}</title>

        {% block stylesheets %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">


        <!-- Bootstrap core CSS -->
        <link href="{{ asset('FrontOffice/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">


        <!-- Additional CSS Files -->
        <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/fontawesome.css') }}">
        <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/templatemo-digimedia-v2.css') }}">
        <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/animated.css') }}">
        <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/owl.css') }}">

              {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('FrontOffice/vendor/jquery/jquery.min.js') }}"></script>
          <script src="{{ asset('FrontOffice/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
          <script src="{{ asset('FrontOffice/assets/js/owl-carousel.js') }}"></script>
          <script src="{{ asset('FrontOffice/assets/js/animation.js') }}"></script>
          <script src="{{ asset('FrontOffice/assets/js/imagesloaded.js') }}"></script>
          <script src="{{ asset('FrontOffice/assets/js/custom.js') }}"></script>
        {% endblock %}
    </head>
    <body>
    <!-- ***** Preloader Start ***** -->


    {% block navBar %}
        <!-- ***** Header Area Start ***** -->
        <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <!-- ***** Logo Start ***** -->
                            <a href="{{ path('app_front_office_home') }}" class="logo">
                                <img src="{{ asset('FrontOffice/assets/images/logo-v2.png') }}" alt="">
                            </a>
                            <!-- ***** Logo End ***** -->
                            <!-- ***** Menu Start ***** -->
                            <ul class="nav">
                                <li class="scroll-to-section"><a href="{{ path('app_front_office_home') }}">Home</a></li>
                                <li class="scroll-to-section"><a >Services</a></li>
                                <li class="scroll-to-section"><a href="#services">Adoption</a></li>
                                <li class="scroll-to-section"><a href="#">Hub</a>
                                    <div class="sub-menu-1">
                                        <ul>
                                            <li> <a href="{{ path('app_chien_index_my_dogs') }}">My Dogs</a></li>
                                            <li> <a href="{{ path('app_chien_index_dogs-next-door') }}">Dogs Next Door</a></li>
                                            <li> <a href="{{ path('app_annonce_proprietaire_chien_index_lost') }}">Lost Dogs</a></li>
                                            <li> <a href="{{ path('app_annonce_proprietaire_chien_index_mating') }}">Mating</a></li>
                                            <li></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="scroll-to-section"><a href="#blog">Store</a></li>
                                <li class="scroll-to-section"><a>Sign in</a></li>
                                <li class="scroll-to-section"><div class="border-first-button"><a href="#contact">Sign up</a></div></li>
                            </ul>
                            <a class='menu-trigger'>
                                <span>Menu</span>
                            </a>
                            <!-- ***** Menu End ***** -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- ***** Header Area End ***** -->

    {% endblock %}


    {% block body %}

    {% endblock %}
    {% block Footer %}

    {% endblock %}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbdeCQYrNeFd4ZMsbwrbUffvzW1PTuN2U&libraries=places&callback=initialize"></script>

    </body>
</html>
