<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Front{% endblock %}</title>

        {% block stylesheets %}

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">




        <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
        <link href=" https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              rel="stylesheet" integrity="sha384-Gn5384xqU1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6Xm"
        crossorigin="anonymous"
        >




        <!-- Bootstrap core CSS -->
        <link href="{{ asset('FrontOffice/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">


        <!-- Additional CSS Files -->
        <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/fontawesome.css') }}">
        <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/templatemo-digimedia-v2.css') }}">
        <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/animated.css') }}">
        <link rel="stylesheet" href="{{ asset('FrontOffice/assets/css/owl.css') }}">


              {% endblock %}

        {% block javascripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>



            <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>


            <script src="{{ asset('FrontOffice/vendor/jquery/jquery.min.js') }}"></script>
          <script src="{{ asset('FrontOffice/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
          <script src="{{ asset('FrontOffice/assets/js/owl-carousel.js') }}"></script>
          <script src="{{ asset('FrontOffice/assets/js/animation.js') }}"></script>
          <script src="{{ asset('FrontOffice/assets/js/imagesloaded.js') }}"></script>
          <script src="{{ asset('FrontOffice/assets/js/custom.js') }}"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
{% endblock %}

    </head>
    <body>
    <!-- ***** Preloader Start ***** -->


    {% block navBar %}
        <!-- ***** Header Area Start ***** -->

        <meta name="pinterest" content="nopin" />
        <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">
                            <!-- ***** Logo Start ***** -->
                            <a href="{{ path('app_front_office_home') }}" class="logo">
                                <img src="{{ asset('FrontOffice/assets/images/logo-v2.png') }}" alt="">
                            </a>
                            <!-- ***** Logo End ***** -->
                            <!-- ***** Menu Start ***** -->
                            <ul class="nav">


                                <li class="scroll-to-section"><a href="{{ path('app_home') }}">Home</a></li>
                                <li class="scroll-to-section"><a href="{{ path('app_business_index') }}">Services</a></li>
                                <li class="scroll-to-section"><a href="{{ path('app_annonce_adoption_index') }}">Adoption</a></li>
                                <li class="scroll-to-section"><a href="#">Hub</a>
                                    <div class="sub-menu-1">
                                        <ul>
                                            {% if not( is_granted('ROLE_USER'))%}
                                                <li> <a>My Dogs</a></li>
                                            {% endif %}
                                            {% if ( is_granted('ROLE_USER'))%}
                                                <li> <a href="{{ path('app_chien_index_my_dogs') }}">My Dogs</a></li>
                                            {% endif %}
                                            {% if not( is_granted('ROLE_USER'))%}
                                                <li> <a>Dogs Next Door</a></li>
                                            {% endif %}
                                            {% if ( is_granted('ROLE_USER'))%}
                                                <li> <a href="{{ path('app_chien_index_dogs-next-door') }}">Dogs Next Door</a></li>
                                            {% endif %}
                                            <li> <a href="{{ path('app_annonce_proprietaire_chien_index_lost') }}">Lost Dogs</a></li>
                                            <li> <a href="{{ path('app_annonce_proprietaire_chien_index_mating') }}">Mating</a></li>
                                            <li></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="scroll-to-section"><a href="{{ path('app_front_office_home') }}">Store</a></li>
                                <li class="scroll-to-section" > <a  href="{{ path('app_panier_index') }}" class="fa fa-shopping-cart" style="font-size:30px;color:black"></a> </li>
                                {% if not( is_granted('ROLE_USER'))%}
                                    <li class="scroll-to-section"><a  href="{{ path ('app_login') }}">sign in</a></li>
                                {% endif %}
                                {% if ( is_granted('ROLE_USER'))%}
                                    <li class="scroll-to-section"><a  href="{{ path ('app_editprofile') }}">mon profil</a></li>
                                {% endif %}

                                {% if not ( is_granted('ROLE_USER'))%}
                                    <li class="scroll-to-section"><div class="border-first-button"><a href="{{ path ('registration') }}">Sign up</a></div></li>
                                {% endif %}
                            </ul>
                            <a class='menu-trigger'>
                                <span>Menu</span>
                            </a>
                            <!-- ***** Menu End ***** -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- ***** Header Area End ***** -->

    {% endblock %}


    {% block body %}

    {% endblock %}


    {% block Footer %}
        <footer>
            <div class="container">
                <div class="row">

                </div>
            </div>
        </footer>
    {% endblock %}

    </body>
</html>
