{% extends 'baseBack.html.twig' %}

{% block store %}
                

                <li class="active">
                    <a
                            class="nav-link"
                            data-toggle="collapse"
                            href="#ui-basic"
                            aria-expanded="false"
                            aria-controls="ui-basic"
                    >
                        <i class="fa fa-cart-plus" aria-hidden="true"></i>

                        <!--<i class="nc-icon nc-pin-3"></i> -->
                        <span class="menu-title">Store</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="active">
                                <a class="" href="./ordersList.html">
                                    <i class="fa fa-shopping-baske" aria-hidden="true"> </i>
                                    Manage Categories</a
                                >
                            </li>
                            <li class="nav-link">
                                <a class="nav-link" href="{{ path('app_back_office_produit') }}"
                                >Manage Products</a
                                >
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_produit_new') }}">Add Product</a>
                            </li>
                        </ul>
                    </div>
                </li>
                {% endblock %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h1>Categories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdCategorie</th>
                <th>Nom</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.idcategorie }}</td>
                <td>{{ categorie.nom }}</td>
                <td>{{ categorie.description }}</td>
                <td>
                   {{ include('categorie/_delete_form.html.twig') }}
                  <a href="{{ path('app_categorie_edit', {'idcategorie': categorie.idcategorie}) }}">edit</a> 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorie_new') }}">Create new</a>
{% endblock %}
