{% extends 'base.html.twig' %}

{% block title %}Offre index{% endblock %}

{% block body %}
    <h1>Offre index</h1>
    <section class="container" style="padding-top:55px;">
    <table class="table">
        <thead>
            <tr>
                <th>Candidate</th>
                <th>Status</th>
                <th>CreatedAt</th>
                <th>Sujet</th>
                <th>See More ...</th>
                <th>Announce</th>
                <th>Actions</th>
                
            </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            <tr>
                <td>{{ offre.adopter.nom }}</td>
                <td>{{ offre.status }}</td>
                <td>{{ offre.createdAt ? offre.createdAt|date('Y-m-d') : '' }}</td>
                <td>{{ offre.sujet }}</td>
                <td>
                <button class="btn"><a href="{{ path('app_offre_show', {'idoffre': offre.idoffre}) }}">offer details</a>
                </td>
                <td>
                    <button class="btn"><a href="{{ path('app_annonce_adoption_show',{'idannonceadoption': offre.announce.idannonceadoption}) }}">Announce details</a>
                </td>
                <td>
                    <a href="{{ path('app_offre_accept', {'idoffre': offre.idoffre}) }}">accept</a>
                    <a href="{{ path('app_offre_decline', {'idoffre': offre.idoffre}) }}">decline</a>
                </td>
                
                
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </section>
{% endblock %}
